.navbar-custom {
    background: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
    color: white;
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: white;
  }
  
  .navbar-custom .nav-link:hover {
    color: #f8f9fa; /* Couleur au survol */
  }
  

  .margin {
    margin-bottom: 500px;
  }


  .marginreclam{
    margin-top: 50px;
  
  }

.border{
  border: solid;
  border-radius: 5px;
}



